@import "compass/typography/vertical_rhythm";

@include establish-baseline;

* {
	@include box-sizing(border-box);
}

body {
  background: $global-bg-color;
  font-family: $font-family;
  font-weight: $body-font-weight;
  color: $body-font-color;
  position: relative;
  -webkit-font-smoothing: $font-smoothing;
  -moz-osx-font-smoothing: grayscale;
  @include respond(all-phones) {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
  }
}

html, body {
  height: 100%;
}

.hide {
  display: none;
}

.hide.active, .show {
  display: block;
}

.layout {
  position: relative;
  min-height: 47vh;
}

.hasalert {
  position: relative;
  margin-top: 50px;
}

.text--center {
  text-align: center !important; //remove rather than overriding
}