// Generic custom css (anything longer than a screen view should have its own file)

.label.success {
	color: #fff;
}

.btn-login {
	padding-top: 50px;
}

.fileExt {
	font-size: 0.8em;
	color: #555;
}

.external img{
	display: none;
}

.parsley-errors-list {
	color: $danger-color;
	clear: both;
	padding-top: 10px;
}

@media only screen and (max-width: 767px) {

	.header {
		padding-top: 45px;
	}
	.btn-login .meta-data {
		display: none;
	}


	.btn-login {
		position: absolute;
		top: 0;
		left: 0;
		padding-top: 0;
		width: 100% !important; //override an important

		> p {
			float: none;
		}

		.btn {
			width: 100%;
			&.rounded {
				border-radius: 0;
			}
		}
	}
}

.page-header {
	margin-top: 20px;
	text-align: center;
	color: #fff;
	text-shadow: rgba(darken($air, 10%), 0.8) 0px 0px 20px;

	h1 {
		margin-bottom: 35px;
	}

	* {
		color: #fff;
	}

	.btn {
		margin-top: 30px;
		margin-bottom: 30px;
		&.large {
			margin-bottom: 50px;
		}
	}

	.secondary-menu {
		margin-bottom: 22px;
		@include respond(all-phones) {
			margin-bottom: 0;
		}
	}

	.nav-list {
		margin-bottom: 15px;
		@include respond(all-phones) {
			margin: 0 10px;
		}
		.btn {
			margin-top: 0;
			margin-bottom: 15px;
			margin-right: 20px;
			@include respond(all-phones) {
				margin-right: 5px;
				margin-bottom: 10px;
			}
		}
	}
}

.top-panel {
	margin-top: -100px;
}
.collapse .main {
	padding-bottom: 40px;
	min-height: 0px;
	:first-child {
		margin-top: 0;
	}
}

@include respond(all-phones) {
	.layout > .row {
		padding: 0 10px;
	}
}

.main {
	position: relative;
	background: #fff;
	min-height: 250px;
	padding: 30px 150px 50px;

	+ .main:not(.mtm) {
		padding-top: 0;
		> form {
			margin-top: 0;
			fieldset>.field:first-child {
				margin-top: 0;
			}
		}
	}

	@include respond(desktop) {
		&.calendar {
			padding-left: 70px;
			padding-right: 70px;
			.contentwrap {
				padding-left: 80px;
				padding-right: 80px;
			}
		}
	}
	@include respond(tablets) {
		padding: 30px 50px 50px;
		&.calendar {
			padding-left: 30px;
			padding-right: 30px;
			.contentwrap {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
	@include respond(all-phones) {
		padding: 30px;
	}

	@include respond(all-phones) {
		> p:first-child {
			margin-top: 10px;
		}
	}
}


// Partial to align Text Left or Right
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.text-uppercase {
	text-transform: uppercase;
}

.top-panel {
	position: relative;
}

.back-link {
	line-height: 40px;
	position:absolute;
	left: 30px;
	top: 30px;
	color: #333;
	z-index: 3;

	// hide from phones
	@include respond(all-phones) {
		display: none;
	}

	@include respond(tablets) {
		top: 5px; // hide on mobile devices
		left: 20px;
	}

	.text {
		font-family: $header-font-family;
		font-weight: normal;
		text-rendering: optimizeLegibility;
		font-size: 13px;
		color: #333;
		font-family: Times, serif;
		font-style: italic;
		clear: both;
		display: block;
		line-height: 5px;
	}

	&:hover,
	&:focus {
		color: $body-link-color;
		.text {
			color: $body-link-color;
		}
		path {
			fill: $body-link-color;
		}
	}
}
