.image {

	&-group {
		&.composite {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}

	&-title {
		display: block;
		font-size: 12px;
		line-height: 1.2em;
		padding-top: 5px;
	}

	&-img {
		display: block;
		min-height: 100%;
		min-width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
	}

	&-wrap {
		height: 60px;
		display: block;
		overflow: hidden;
		background: #efefef;
	}

	&-dropdownitem {
		width: 100px;
		height: 95px;
		overflow: hidden;
		display: block;
	}

	&-notes {

		@include respond(desktop) {
			width: 50%;
			float: right;
		}

		+ .fileattachment {
			@include respond(desktop) {
				float: left;
				clear: none;
				width: 46.5%;
			}

			.uploadable {
				margin-bottom: 0;
				@include respond(desktop) {
					min-height: 300px;
				}
			}
		}

		p {
			margin-top: 15px;
		}
	}

	&-dropdown {
		width: 100%;

		.select2-container .select2-choice {
			height: 53px;
			line-height: 2.4;

			div {
				width: 30px;
				b {
					background: none !important; //override select2 importants
					&:after {
						content: '\25be';
						font-family: "#{$icons}";
						text-decoration:none;
						zoom: 1;
						font-size: 25px;
						line-height: 2;
					}
				}
			}


			.icon-down-dir {

			}
		}
	}
}

.select2-results li {
	float: left;
	width: auto;
}