// Alert with close
//
// Markup:
// <div class="alert primary" id="alert">
//   <a href="#" gumby-trigger="#alert" class="switch close">&times;</a>
//     Hello everybody !!!
// </div>

.alert {
	padding: 15px 20px;

	&.active {
		display: none;
	}
	.close {
		float: right;
	}
}
