/* Icons */

[class^="icon-"] a:before,
[class*=" icon-"] a:before,
[class^="icon-"] a:after,
[class*=" icon-"] a:after,
span[class^="icon-"],
span[class*=" icon-"] {
  font-family: "#{$icons}";
  position:absolute;
  text-decoration:none;
  zoom: 1;
}

span[class^="icon-"],
span[class*=" icon-"] {
  display: inline-block;
  position: static;
  min-width: 20px;
  margin: 0 5px;
  text-align: center;
}

@each $icon in $entypo-icons {
  .#{nth($icon, 1)} {
	&.icon-left a:before, &.icon-right a:after {
	  content: "#{nth($icon, 2)}";
	  height: inherit;
	}
  }
	span.#{nth($icon, 1)}:before {
	content: "#{nth($icon, 2)}";
	height: inherit;
  }
}
